services:
  localstack:
    image: localstack/localstack@sha256:a5bc2c9b0cb8824a9e6837034e258c59bd7bb4d470dca5d941c10a71a46dc7e1
    container_name: localstack-main
    ports:
      - "4566:4566"
      - "4571:4571"
    extra_hosts:
      - "host.docker.internal:host-gateway" # to connect cargo lambda watch
    environment:
      - DEBUG=0
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
      - DEFAULT_REGION=%[ cookiecutter.default_region ]%
    volumes:
      - "./local/localstack-volume:/var/lib/localstack"
      - "/var/run/docker.sock:/var/run/docker.sock" # required for lambdas
  cognito-local:
    image: jagregory/cognito-local
    container_name: cognito-local
    ports:
      - "9229:9229"
    extra_hosts:
      - "host.docker.internal:host-gateway" # to connect cargo lambda watch
    environment:
      - CODE=123456 # fixed code for UI tests
      - AWS_REGION=%[ cookiecutter.default_region ]%
      - AWS_ACCESS_KEY_ID=test
      - AWS_SECRET_ACCESS_KEY=test
    volumes:
      - "./local/cognito-local-volume:/app/.cognito"

volumes:
  cognito-data:
