name: Continuous Integration

on:
  pull_request:

jobs:
  seed-template:
    name: Seed Template
    runs-on: ubuntu-latest
    outputs:
      instance-path: ${{ steps.set-path.outputs.path }}
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip
          key: pip-cache-cookiecutter
      - name: Install cookiecutter
        run: pip install cookiecutter
      - name: Generate test template instance
        run: |
          # Overwrite defaults to make sure defaults are not part of the seeded template due to copy & paste
          cookiecutter --no-input --output-dir . template/ \
            project_name="Test Instance" \
            project_description="Some sample application." \
            author="GitHub Actions" \
            author_email="git@hub.actions" \
            test_user_email="test@hub.actions" \
            test_user_password="Test456$"
      - name: Verify template contains no default values
        run: |
          python scripts/check_defaults.py --template template/cookiecutter.json --generated test-instance \
            -c project_slug "tool-set-project" \
            -c package_name "tool_set_project" \
            --ignore license
      - name: Upload test template instance
        uses: actions/upload-artifact@v5
        with:
          name: test-instance
          path: test-instance/
          include-hidden-files: true # for .prettierignore etc.
  test-backend:
    name: Test Backend in Template
    runs-on: ubuntu-latest
    needs: seed-template
    defaults:
      run:
        working-directory: ./test-instance/backend
    steps:
      - name: Download test template instance
        uses: actions/download-artifact@v6
        with:
          name: test-instance
          path: ./test-instance
      - uses: Swatinem/rust-cache@v2
        with:
          shared-key: pull-request
          workspaces: ./test-instance/backend -> target
      - name: Install Rust
        run: rustup toolchain install stable
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
      - name: Check formatting
        id: format
        run: cargo fmt -- --check
      - name: Run checks
        id: check
        run: cargo check
      - name: Run clippy
        id: clippy
        run: cargo clippy
      - name: Run unit tests
        id: tests
        run: cargo test --lib --bins
      - name: Aggregate results and fail if any failed
        if: always()   # ensure this runs even if earlier steps failed
        run: |
          echo "format outcome:   ${{ steps.format.outcome }}"
          echo "check outcome:  ${{ steps.check.outcome }}"
          echo "clippy outcome:  ${{ steps.clippy.outcome }}"
          echo "tests outcome:  ${{ steps.tests.outcome }}"

          # If any step outcome is 'failure' then fail the job
          for s in "${{ steps.format.outcome }}" "${{ steps.check.outcome }}" "${{ steps.clippy.outcome }}" "${{ steps.tests.outcome }}"; do
            if [ "$s" = "failure" ]; then
              echo "One or more checks failed."
              exit 1
            fi
          done

          echo "All checks passed."
  test-frontend:
    name: Test Frontend in Template
    runs-on: ubuntu-latest
    needs: seed-template
    defaults:
      run:
        working-directory: ./test-instance/frontend
    steps:
      - name: Download test template instance
        uses: actions/download-artifact@v6
        with:
          name: test-instance
          path: ./test-instance
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version: '20'
      - name: Restore cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.npm
            test-instance/frontend/node_modules/
          key: node-modules-cache-${{ hashFiles('test-instance/frontend/package.json') }} # template doesn't include a lock file
          restore-keys: node-modules-cache-
      - name: Install Protoc
        uses: arduino/setup-protoc@v3
      - name: Install dependencies
        run: npm i
      - name: Generate Protocol Buffer files
        run: npm run gen:proto
      - name: Check formatting & lint
        id: lint
        run: npm run lint
        continue-on-error: true
      - name: Check TypeScript
        id: check
        run: npm run check
        continue-on-error: true
      - name: Run unit tests
        id: tests
        run: npm run test:unit
        continue-on-error: true
      - name: Aggregate results and fail if any failed
        if: always()   # ensure this runs even if earlier steps failed
        run: |
          echo "lint outcome:   ${{ steps.lint.outcome }}"
          echo "check outcome:  ${{ steps.check.outcome }}"
          echo "tests outcome:  ${{ steps.tests.outcome }}"
          # If any step outcome is 'failure' then fail the job
          for s in "${{ steps.lint.outcome }}" "${{ steps.check.outcome }}" "${{ steps.tests.outcome }}"; do
            if [ "$s" = "failure" ]; then
              echo "One or more checks failed."
              exit 1
            fi
          done
          
          echo "All checks passed."
